@{
    var ajaxOptions = new AjaxOptions
    {
        LoadingElementId = "loading",
        UpdateTargetId = "mainWindow",
        OnFailure = "OnFailure"
    };
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>教师界面</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        function disp() {
            for (var i = 0; i < 4; i++) {
                document.getElementsByClassName('sss')[i].style.display = 'block';

            }
        }

        function out() {
            for (var i = 0; i < 4; i++) {
                document.getElementsByClassName('sss')[i].style.display = 'none';
            }
        }
    </script>
</head>
<body>
    <div class="nav">
        <div class="divli" id="divli">
            <a class="li1" id="li1title" href="login.html">欢迎使用LF考试系统</a>
        </div>
        <div class="divli">
            <a class="li1" href=@Url.Content("TeacherIndex")>首页</a>
        </div>
        <div class="divli">
            @*<a class="li1" href="BeforeTest">考前操作</a>*@
            @Ajax.ActionLink("考前操作", "BeforeTest", "Teacher", new { area = "Teacher" }, ajaxOptions, new { @class = "li1" })
        </div>
        <div class="divli">
            <a class="li1" id="secondmenu" onmouseover="disp()"
               onmouseleave="out()" href="#">考中管理</a>
        </div>
        <div class="divli">
            <a class="li1" href="">考后操作</a>
        </div>

        <div class="divli" id="divli1">
            <a class="li1" href="">欢迎教师</a>
        </div>

        @*<div class="divli">
                <a class="li1" href="javascript:void(0)"
                   onclick="document.getElementById('light').style.display='block';">修改口令</a>
            </div>*@
        <div class="divli">
            <a class="li1" href=@Url.Content("/Home/Login")>退出</a>
        </div>
    </div>
    <br>
    <div class="header">

        <div class="img1">
            <img class="image1" alt="没有找到图片" src="/image/考试.png">
        </div>
        <div style="margin: 0 0 0 10px;">
            <h2 style="font-size: 30px; margin: 6px 0 0 7px">上机考试系统</h2>
        </div>
    </div>
    <br>

    <div>
        @RenderBody()
    </div>

    @*<div id="light" class="white_content">
        <div style="display: inline-flex;">
            <h3 style="margin: 0px 0 18px 0px;">修改口令</h3>
            <a style="margin-left: 87px; text-decoration: none; color: lightblue;"
               href="javascript:void(0)"
               onclick="document.getElementById('light').style.display='none';">点击取消</a>
        </div>

        <div style="padding: 10px; background: lightgray; text-align: center;">
            <form action="teachmodifypwd.jsp" method="post">
                <input class="input1" style="margin-top: 5px;" type="text"
                       name="oldpwd" placeholder="原口令"><br> <input class="input1" type="password" name="newpwd" placeholder="新口令"><br>
                <input class="input1" type="password" name="repeatnewpwd"
                       placeholder="重输新口令"><br> <input class="input1"
                                                       type="submit" value="修改"
                                                       style="background: lightgray; width: 160px;">
            </form>
        </div>*@

    </div>


    <div class="secondmenudiv" onmouseover="disp()" onmouseout="out()"
         style="background: rgba(0, 0, 0, 0.5); position: absolute; top: 50px; left: 550px; width: 70px; filter: alpha(opacity = 90); zoom: 1;">
        <a class="sss" href="">考试概况</a> <a class="sss"
                                           href="">学生信息</a> <a class="sss"
                                                               href="">解除绑定</a> <a class="sss"
                                                                                   href="">通知管理</a>

    </div>
</body>
</html>