
@{
    ViewBag.Title = "TeacherIndex";
}

<style type="text/css">
    .content {
        display: inline-flex;
    }

    .content1, .content2, .content3 {
        margin-left: 5px;
        margin-right: 10px;
        margin-top: 20px;
        width: 100px;
        padding-top: 18px;
        padding-right: 12px;
        padding-left: 12px;
    }

    .content1 {
        margin-left: 150px;
    }
</style>

<h4>欢迎教师，@ViewBag.teacherName</h1>

<div class="content">
    <div class="content1"
         style="border-radius: 5px; width: 350px; background: lightgray; height: 350px;">
        <h6 style="margin: 0px;">考前操作</h6>
        <ul style="margin-left: -14px;">
            <li>可以新建考试：指定考试名称，开始时间等</li>
            <li>可以编辑自己创建的，未开始的考试，除了修改考试信息，还可以</li>

            <span style="color: red; margin-left: 40px; margin-top: 5px;">*</span>上传试卷
            <br>
            <span style="color: red; margin-left: 40px;">*</span>学生名单导入
            <br>
            <span style="color: red; margin-left: 40px;">*</span>开启考试
        </ul>
    </div>
    <div class="content2"
         style="border-radius: 5px; height: 350px; width: 350px; background: lightgray;">
        <h6 style="margin: 0px;">考中管理</h6>
        <ul style="margin-left: -14px;">
            <li>可以查看考试情况</li>
            <li>可以管理学生信息，手工添加个别学生信息</li>
            <li>可以解除学生登录绑定</li>
            <li>可以添加或删除通知信息</li>
        </ul>
    </div>
    <div class="content3"
         style="border-radius: 5px; width: 350px; background: lightgray; height: 350px;">
        <h6 style="margin: 0px;">考后操作</h6>
        <ul style="margin-left: -14px;">
            <li>主考教师（考试创建者）可以结束考试</li>
            <li>主考教师可以打包下载学生提交文件</li>
            <li>主考教师可以导出学生提交信息</li>
            <li>如果管理员设置，主考教师可以清理和删除考试</li>
        </ul>
    </div>
</div>
