body {
    min-width: 1424px;
    margin: 0px;
    padding: 0px;
}

.nav {
    width: 100%;
    width: -webkit-fill-available;
    height: 60px;
    background: black;
}

#li1title {
    font-size: 20px;
    margin-left: 100px;
}

.li1 {
    text-decoration: none;
    color: white;
    margin: 5px 0 5px 0;
}

    .li1:hover {
        color: yellow;
    }

.divli {
    position: relative;
    float: left;
    margin: 25px 5px 20px 30px;
    float: left;
}

    .divli:hover {
    }

#divli {
    margin-top: 20px;
    margin-left: 50px;
}

#divli1 {
    margin-left: 400px;
}

.image1 {
    width: 70px;
    height: 70px;
    margin-top: -10px;
}

.header {
    display: inline-flex;
    margin: 5px 0 0 150px;
}

.white_content {
    display: none;
    position: absolute;
    top: 10%;
    left: 72%;
    width: 15%;
    height: 40%;
    padding: 30px;
    border: 10px solid gray;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    border-radius: 5px;
}

.input1 {
    margin-bottom: 20px;
}

.tableform {
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 200px;
}

table, td {
    border: 1px solid lightgray;
}

.addtest {
    margin-left: 150px;
    margin-top: 7px;
    width: 1100px;
    height: 80px;
    background: lightgray;
    border-radius: 5px;
    padding-top: 10px;
}

.sss {
    text-decoration: none;
    display: none;
    color: white;
}

.secondmenudiv {
    border-radius: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 3px;
}

.secondmenudiv {
    opacity: 0.9 !important;
}

.searchresult {
    margin-left: 147px;
    margin-top: 6px;
    width: 1150px;
    height: 80px;
    background: white;
    border-radius: 5px;
    padding-top: 10px;
}
.addsinglestudent {
    margin-left: 150px;
    margin-right: 230px;
    margin-top: 15px;
    background: lightgray;
    border-radius: 15px;
    height: 90px;
    position: relative;
    padding: 10px 0 0 20px;
}

.searchstudentinformmation {
    margin-left: 150px;
    margin-right: 230px;
    margin-top: 15px;
    background: lightgray;
    border-radius: 15px;
    height: 90px;
    position: relative;
    padding: 10px 0 0 20px;
}

.searchresult {
    margin-left: 147px;
    margin-top: 6px;
    width: 1150px;
    height: 80px;
    background: white;
    border-radius: 5px;
    padding-top: 10px;
}

.number {
    width: 220px;
}

.name {
    width: 160px;
}

.classroom {
    width: 220px;
}

.ipaddress {
    width: 220px;
}

.other {
    width: 200px;
}

table,
td {
    border: 1px solid lightgray;
}

td {
    padding-left: 4px;
}
