
@{
    ViewBag.Title = "CheckedIPAddress";
}
    <link href="~/StyleSheet1.css" rel="stylesheet" type="text/css" />
    <div class="addtest">
        <h2 style="margin: 10px 0 0 30px; font-size: 18px;">已绑定的IP地址为：@ViewBag.IPAddress</h2>
    </div>
